.header-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 2;
}

.header-nav-list {
    padding: 0;
    list-style-type: none;
}

.header-nav-list li {
    display: inline;
    margin: 0 15px;
}

.header-nav-list li a {
    color: var(--clean);
    font-family: var(--navs);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
}

.header-nav-items.active {
    color: var(--primary);
    opacity: 1;
}

.header-nav-list li a:hover {
    opacity: 1;
}

.dropdown-arrows {
    display: inline-block;
    transform: translate(5px, -2px);
}

/* Dropdown list */

.about-dropdown {
    position: relative;
    display: inline;
    color: var(--clean);
}

.about-dropdown.active a.header-nav-items {
    color: var(--primary);
    opacity: 1;
}

.about-dropdown-list {
    box-shadow:
        1.5px 1.7px 2.2px rgba(0, 0, 0, 0.02),
        3.5px 4.1px 5.3px rgba(0, 0, 0, 0.028),
        6.6px 7.8px 10px rgba(0, 0, 0, 0.035),
        11.8px 13.8px 17.9px rgba(0, 0, 0, 0.042),
        22.1px 25.9px 33.4px rgba(0, 0, 0, 0.05),
        53px 62px 80px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    background-color: #0c0c0cce;
    padding: 0;
    width: 280px;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    margin: 0;
}

.about-dropdown-list.active {
    height: 237px;
    opacity: 1;
}

.about-dropdown-list li {
    display: block;
    margin: 0;
}

.about-dropdown-list li a {
    display: block;
    color: var(--clean);
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.about-dropdown-list li a:hover {
    background-color: #242424;
}