@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600;700&family=Playfair:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@300;500;600;700;800;900&display=swap');

:root {
  /* theme colors */
  --primary: #6ee2bc;
  --secondary: #030303;
  --tertiary: #70c1da;

  --clean: #f8f8f8;
  --fade: #1d1c1c;
  --trans: #030303e7;

  --navs: 'Josefin Sans', sans-serif;
  --titles: 'Raleway', sans-serif;
  --subhead: 'Playfair', serif;
  --text: 'Poppins', sans-serif;

}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary) !important;
}